In [54]:
tuple=(1,2,3,4,3,2,1,1)
tuple1=("vasanth")
#print(tuple.index(3))
print(tuple1.index("a",1))

1

In [18]:
#tuple concatination

tuple1=(1,2,3)
tuple2=(4,5,6)
print(tuple1+tuple2)

(1, 2, 3, 4, 5, 6)

In [13]:
# travese through  a tuple using loops

tuple=('vasanth','bhupal','sai')

for i in tuple:
    print(i)

vasanth
bhupal
sai

In [17]:
tuple=('vasanth','bhupal','sai')
i=0
while(i<len(tuple)):
    print(tuple[i])
    i=i+1

vasanth
bhupal
sai

In [3]:
#adding elements into the tuple by converting the tuple into the list and vice-versa 

t=(1,2,3)
l = list(t)
l.extend([5,6,7,8])
t2 = tuple(l)
print(t2)

(1, 2, 3, 5, 6, 7, 8)

In [40]:
#to remove an elemnet
# element 4 is removed using concatination

t=(1,2,3,4,5,6)
t1=t[0:3]+t[4:]
print(t1)

(1, 2, 3, 5, 6)

In [4]:
# to create a copy of a tuple

from copy import deepcopy


t3=(1,2,3,4)
t4=deepcopy(t3)
#print(tuple(t4))
#t4[2].append(5)
print(t4)
print(type(t4))

(1, 2, 3, 4)
<class 'tuple'>

In [56]:
# sum of all the elements in a tuple

t=(1,2,3,4,5)
s=sum(t)
print(s)

15

In [63]:
l1=[1,2,3,4]
l2=l1.copy()
l1.append(5)
print(l2)
l1

[1, 2, 3, 4]

[1, 2, 3, 4, 5]

In [64]:
# sets
# immutable,unorderd,unchangable,unindexed but we can add 0r delete elements(can't change the element in that place)

s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [68]:
# to access the elemenets in the set
set1={"vasanth","bhupal","sai"}
for i in set1:
    print(i)

vasanth
bhupal
sai

In [99]:
# methods of set
# add method
#adds only single element

set1={"vasanth","bhupal","sai"}
set1.add("harish")
print(set1)

#update method
#adds whole set into another set

set2={"pavan","kiran"}
set1.update(set2)
set1

{'vasanth', 'bhupal', 'harish', 'sai'}

{'bhupal', 'harish', 'kiran', 'pavan', 'sai', 'vasanth'}

In [83]:
#removing elemnets
# remove or discard methods
set1={"vasanth","bhupal","sai"}
set1.remove("bhupal")
set1

#set1.discard("sai")       # discard method---dont return error if the elemenet doesnt present in the set
#set1


#set1.pop()                 # removes random element
#set1

#set1.clear()               # clears the elements in the set


#del set1
#set1                        # delets the whole set

{'sai', 'vasanth'}

In [100]:
# union method
set1={1,2,3,4}
set2={1,2,3,4,5,6,7}
print(set1.union(set2))                  # all elements  

print(set1.intersection(set2))           # common elements

print(set1 & set2)                      #same as intersection

print(set)
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4}
{1, 2, 3, 4}
<class 'set'>
{5, 6, 7}

In [92]:
set1={3,2,1}
set2={3,2,1,0}

#set1.isdisjoint(set2)                          #true if both sets have no commmon elemnets

#set2.issuperset(set1)                          # true if set1 is superset of set2

set1.issubset(set2)                              # true if set1 is subset of set2

True

In [97]:
set1={3,2,1}
set2={3,2,1,0}

set3=set2.copy()
print(set3)                                         # copies the set into another set

{0, 1, 2, 3}

In [109]:
   #Python program to find all the unique elements

n=int(input("enter the n.o of elemnets of the list"))
list1=[]
for i in range(n):
    x=input("entr the elements")
    list1.append(x)
print(list1)

unique_list=[]
def unique(list):
    #unique_list=[set(list)]
    for j in list1:
        y=list1.count(j)
        if(y==1):
            unique_list.append(j)

unique(unique_list)
print(unique_list)

['1', '1', '2']
['2']

In [122]:
#program to find duplicates in a list

n=int(input("enter n.o of elements in the list"))
list2=[]
for i in range(n):
    x=input("enter the element")
    list2.append(x)
print("original list")
print(list2)

def dups(list):
    list_d=[set(list)]
    for i in list_d:
        y=list2.count(i)
        if(y!=1):
            print(f"element{i} repeated{y} times")
dups(list2)

original list
['3', '2', '3']
element{'3', '2'} repeated0 times